@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext');

body {
    background: #473D40;
    color: #ccc;
    font-family: 'Roboto', sans-serif;
}

:focus{outline: none;}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://www.spacex.com/sites/spacex/files/styles/new_gallery_large/public/2016_-_01-26751237322_ceb6d56235_o_1.jpg?itok=c3yh8lcf);
    background-size: cover;
    background-repeat: no-repeat;

    .fetchdata {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        input {
            background: none;
            border-width: 0px;
            border: none;
            padding: 7px 0;
            border-bottom: 3px solid #ccc;
            color: #ccc;
            font-size: 30px;
            text-align: center;
            letter-spacing: 1px;
            margin: 1em;
            font-family: 'Roboto', sans-serif;
            
        }


        .fetchdata__item {
            background: rgba(27, 33, 35, 0.1);
            padding: 1em;
        }
    }

}

.modal {
    height: 100%;
    width: 100%
}

.modal__container {
    display: flex;
    color: #000;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    img {
        height: 100%;
        width: 30%;
        margin: 1em;
    }

    .modal__imagecontainer {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
    }

    .modal__textcontainer {
        display: flex;
        flex-direction: column;
    }
}

.ReactModal__Content {
    opacity: 0;
  }
  
  .ReactModal__Content--after-open {
    opacity: 1;
    transition: opacity 1000ms;
    top: 20% !important;
    left: 20% !important;
    right: 20% !important;
    bottom: 20% !important;
  }
  
  .ReactModal__Content--before-close {
    opacity: 0;
  }

  .data__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

  @media #{$tablet}{
    .modal__container {
        flex-direction: column;
        overflow: initial;
        img {
            width: 100%;
        }
    }
    .ReactModal__Overlay {
        top: 3% !important;
        left: 3% !important;
        right: 3% !important;
        bottom: 3% !important;
    }

    .ReactModal__Content--after-open {
        top: 3% !important;
        left: 3% !important;
        right: 3% !important;
        bottom: 3% !important; 
    }

    .data__container {
        width: 100%;
    }
}

